/*Media queries for the Lemon Tech responsive layoyt*/

@media all and (max-width: 960px) {
    html body {
        box-sizing: border-box;
    }

    .wrap-header {
        width: 100%;
    }

    .wrap-content {
    	width: 100%;
    }

    .start-grid {
        width: 100%;
    }

    nav .wrap-nav {
        position: static;
        width: 100%;
        display: inline-flex;
    }

    header #logo {
        top: 40px;
        left: 50%;
        margin: 0;
    }

    .menu {
        width: 100%;
    }

    .menu ul {

        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .menu ul li {
        float: none;
        display: inline-block;
    }

    #content .wrap-content {
        box-sizing: border-box;
    }

    section#content {
        box-sizing: border-box;
        width: 100%;
    }

    .part1 {
    	display: flex;
    	justify-content: center;
    	flex-wrap: wrap;
    }

    .start-grid .column-1-2 {
        width: 100%;
    }

    .about-box{
    	flex-wrap: wrap;
    }

    .about-pic,
    .about-text {
    	flex-basis: 50%;
    }

    .about-text {
    	text-align: justify;
    }

}

@media all and (max-width: 640px) {

    header {
        background: background: linear-gradient(to bottom, rgba(241,111,92, 0.777) 0%,	
		rgba(249,207,0, 0.666) 100%);
	}

    header #logo {
        display: none;
    }

    .menu ul li {
        display: block;
        width: 100%;
        background: background: linear-gradient(to bottom, rgba(241,111,92, 0.777) 0%,	
		rgba(249,207,0, 0.666) 100%);
        padding: 0;
        text-align: center;
    }

    header h1 {
    	margin: 40px auto;
    }

    header h2{
    	margin: 30px auto;
    }
    
    .btn-subscribe {
    	margin-top: 20px;
    }

    .start-grid .column-1-4 {
        width: 100%;
        margin: 0;
    }

    .start-grid .column-1-3 {
        width: auto;
    }

    .start-grid .column-1-2 {
    	width: auto;
    }

    .about-box{
    	flex-wrap: wrap;
    }

    .about-pic,
    .about-text {
    	flex-basis: 100%;
    }

    .about-text {
    	text-align: justify;
    }

    .field input,
	.field select,
	.field textarea,
	.field label {
		width: 90%;
	}
}
