/*Styles for the Tech Lemon page*/

body {
	font-family: "Lato", 'Comfortaa', Arial, sans-serif;
	color: #c1c1c1;
	box-sizing: border-box;
}

header {
	background: #000;
	min-height: 40vh;
	height: 40vh;
	max-height: 60%;
}

header a {
	text-decoration: none;
	color: #fff;
}

header h1 {
	margin: 30px auto;
}

header h2 {
	margin: 20px auto;
}

.btn {
	text-align: center;
}

.btn-subscribe {
	text-align: center;
	padding: 10px;
	margin: 30px auto;
	color: #fff;
}

div#nav-section{
	display: block;
	max-width: 1200px;
	margin: 0 auto;
	background: #000;
}

div#logo {
	float: left;
	max-width: 50px; 
}

div#logo span h1 {
	color: #fff;
	font-size: 1em;
}

div.wrap-nav div.main-menu {
	text-align: center;
}

div.wrap-nav div.main-menu ul li {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	max-height: 40px;
	padding: 20px;
	cursor: pointer;
}

header h1,
header h2,
div#footer p {
	font-family: 'Comfortaa', sans-serif;
	text-align: center;
}

header h1 {
	font-size: 4em;
	font-weight: 900;
}

header h2 {
	font-size: 2em;
	font-weight: 300;
}

#mini-menu {
	display: none;
}

main.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

div#latest-title{
	text-align: center;
}

#latest-articles {
	width: 100%;
	max-width: 1200px;
	margin: 20px auto;
	text-align: center;
	display: flex;
	justify-content: center;
}

#latest-articles article{
	max-width: 300px;
	display: inline-block;
	margin: 20px;
}

div.img-container {
	height: 250px;
	max-height: 300px;
	vertical-align: middle;
}

#latest-articles article img{
	width: 100%;
	max-height: 100%;
	border-radius: 5px;
}
