/*Styles for the Tech Lemon page*/

body {
	font-family: "Lato", 'Comfortaa', Arial, sans-serif;
	color: #ccc;
	box-sizing: border-box;
}

.wrapper {
	margin: 0 auto;
}

header a {
	text-decoration: none;
	color: #fff;
}

header h1 {
	color: #fff;
	margin: 70px auto;
}

header h2 {
	color: #fff;
	margin: 50px auto;
}

/* HEADER */

header {
	background: linear-gradient(to bottom, rgba(241,111,92, 0.777) 0%,	
	rgba(249,207,0, 0.666) 100%);
}

header .wrap-header{
	height: 150px;
}

header #logo {
	position:absolute;
	top:20px;
	padding:5px;
	width: 7%;
}

nav .wrap-nav{
	position:absolute;
	top:50px;
	right:0px;
	height: 35px;
	background: none;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu ul li {
	position: relative;
	float: left;
	padding: 6px 5px 0px 5px;
}

.menu ul li:hover {
	background: #4484ce;
}

.menu ul li a {
	font-size: 14px;
	line-height:14px;
	color: #fff;
	display: block;
	padding: 6px 10px;
	margin-bottom: 5px;
	z-index: 6;
	position: relative;
	text-transform:uppercase;
}

.menu  ul li:hover a {
	color:#fff;
}


/* HEADER END */

/* SUBSCRIBE BUTTON */

#subscribe-container {
	align-items: center;
	text-align: center;
}

#btn-subscribe {
	font: "Comfortaa", sans-serif;
	font-size: 1.5em;
	color: #fff;
	background: none;
	padding: 25px 45px;
	border: 3px solid #fff;
	margin-top: 50px;
	margin-bottom: 20px;
}

#btn-subscribe:hover {
	color: #fff;
	background: #4484ce;
	padding: 25px 45px;
	border: 3px solid #4484ce;

}

/* SUBSCRIBE BUTTON END */

main a {
	color: #ccc;
	text-decoration: none;	
}

/* CONTENT */

#content .wrap-content{
	background-color:#FFF;
	border:1px solid #CCC;
	margin: 30px auto;
}

.part1 {
	text-align:center;
	padding-bottom:30px;
}
.part1 img{
	max-height: 300px;
}
.part1 h2{
	font-size:20px;
	line-height:30px;
}

.part2 {
	margin:10px;
	border-bottom:1px dashed #cccccc;
	border-top:1px dashed #cccccc;
}
.part2 p {
	padding:30px;
	font-size:24px;
	text-align:center;
	line-height:30px;
}
.part2 a {
	color:#DA251D;
}

.part3 {
	margin:30px 0;
}
.part3 h2{
	font-size:18px;
}
.part3 img{
	float:left;
	margin-right:10px;
}
footer {
	background: linear-gradient(to bottom, rgba(249,207,0, 0.666) 0%,	
		rgba(241,111,92, 0.777) 100%);
	margin-top:30px;

}
footer .wrap-footer{
	padding:10px 0px;
	color:#ffffff;

}

footer .heading{
	padding:5px;
}
footer .heading h2{
	font-size:22px;
	font-weight:normal;
	display:inline;
	padding:0 5px;
}
footer .content{
	padding:5px
}
footer .content a{
	color:#DA251D;
	text-decoration:none;
}
footer .content .gallery img{
	float:left;
	padding:5px;
	border:1px solid #CCC;
	margin:5px;
}

.copyright{
	text-align:center;
	margin-top:20px;
}
.copyright a{
	color:#ffffff;
	text-decoration:underline;
}

img{
	max-width:100%;
}

/* CONTENT END */

/* GRID */

.start-grid {
	width: 1200px;
	position: relative;
	margin: 0 auto;
	padding: 0px;
}
.start-grid:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.start-grid .separator{}
.start-grid .separator:before,.separator:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.start-grid .separator:after{
	clear: both;
}

.start-grid .wrap-col{
	margin:10px;
}

.start-grid .column-1-2, .start-grid .column-1-3, .start-grid .column-2-3, .start-grid .column-1-4, .start-grid .column-2-4, .start-grid .column-3-4, .start-grid .column-1-5, .start-grid .column-2-5, .start-grid .column-3-5, .start-grid .column-4-5, .start-grid .column-1-6, .start-grid .column-2-6, .start-grid .column-3-6, .start-grid .column-4-6, .start-grid .column-5-6{
	float:left;
	display: inline-block;
}

.start-grid .column-full{
	width:1200px;
}

.start-grid .column-1-2{
	width:400px;
	vertical-align: middle;
}


.start-grid .column-1-2:hover{
	opacity: 0.3;
}

.start-grid .column-1-3{
	width:330px;
}
.start-grid .column-2-3{
	width:660px;
}

.start-grid .column-1-4{
	width:200px;
	margin-left: 25px;
}
.mini-menu div:hover{
	background: #ffffff;
	color: #000000;
}

/* GRID END */

div#nav-section{
	display: block;
	max-width: 1200px;
	margin: 0 auto;
}

div.wrap-nav div.main-menu {
	text-align: center;
}

div.wrap-nav div.main-menu ul li {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	max-height: 40px;
	padding: 20px;
	cursor: pointer;
}

header h1,
header h2,
div#footer p {
	font-family: 'Comfortaa', sans-serif;
	text-align: center;
}

header h1 {
	font-size: 4em;
	font-weight: 900;
}

header h2 {
	font-size: 2em;
	font-weight: 300;
}

.index-header {
	background: linear-gradient(to bottom, rgba(241,111,92, 0.777) 0%,	
		rgba(249,207,0, 0.666) 100%),
	url("../images/small-bgr.jpg") no-repeat center center;
	background-size: cover;
	height: 700px;
}

h4 {
	text-align: center;
	font-weight: bold;
}