/*Styles for the Tech Lemon page*/

body {
	font-family: "Lato", 'Comfortaa', Arial, sans-serif;
	color: #c1c1c1;
	box-sizing: border-box;
}

.home {
	background: #000;
	min-height: 30%;
	max-height: 60%;
}

header a {
	text-decoration: none;
	color: #fff;
}

header h1,
header h2,
div#footer p {
	font-family: 'Comfortaa', sans-serif;
	text-align: center;
}

header h1 {
	font-size: 4em;
	font-weight: 900;
}

header h2 {
	font-size: 2em;
	font-weight: 300;
}

#mini-menu {
	display: none;
}

#latest-articles {
	width: 100%;
	max-width: 1200px;
	margin: 20px auto;
	text-align: center;
	display: flex;
	justify-content: center;
}

article{
	max-width: 300px;
	display: inline-block;
	margin: 20px;
}